
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form class="text-center border border-light p-5" action='/noten' method="post">

        <p class="h4 mb-4">Login</p>

        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" name="user">

        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="passwort">

        <button class="btn btn-info btn-block my-4" type="submit">Login</button>

    </form>
    <!--
    <form action="/noten" method="post">
      <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" id="user" name="user">
      </div>
      <div class="form-group">
        <label for="passwort">Passwort</label>
        <input type="password" class="form-control" id="passwort" name="passwort">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    -->
</body>
</html>



