<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Noten</title>
</head>
<body>
    <h1 style="text-decoration: underline">Übersicht der Noten</h1>
    <br>
    <table class="table table-bordered" style="width: 35%">
        <tr>
            <th class="table-dark">Schnitt</th>
            <td class="table-secondary">{{ klausurListe.average }}</td>
        </tr>
        <tr>
            <th class="table-dark">Credit-Points</th>
            <td class="table-secondary">{{ klausurListe.credits }}</td>
        </tr>
    </table>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name der Klausur</th>
                <th>Credit Points</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for klausur in klausurListe.liste%}
            <tr>
                <td>{{ klausur.name }}</td>
                <td>{{ klausur.creditPoints }}</td>
                <td>{{ klausur.note }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>
